<div>
    <navbar>
        <h1>
            Scraper Scraper Read All About It!
        </h1>
        <form action="/articles/scrape" method="GET"> 
            <button>
                Scrape News Articles
            </button>
        </form>
        <form>
            <button>
                Clear Articles
            </button>
        </form>


    </navbar>
    {{#each articles}}
    <div>
        <h1>{{this.title}}</h1>
        <p>Summary: {{this.summary}}</p>
        <p>Link to article: {{this.href}}</p>
    </div>
    {{/each}}
</div>